html, body {
    margin:0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
}

#window {
    min-height: 100vh;;
    position: relative;
    overflow: hidden;
}

#bg{
    margin:0;
    width:100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
}

#logo{
    position: absolute;
    width: 8%;
    margin-left: 3%;
    margin-top: 1%;
}

#header{
    position: absolute;
    display: flex;
    justify-content: flex-end;  
    align-items: flex-start; 
    margin-top: 1%;
    width: 100%;
    height: 30%;
}

#header button{
    margin: 2% 8% 2% 0;
    width: 12%;
    height: 30%;
    border-radius: 48%;
    border: 1px solid #072A26;
    font-size: 135%;
    background-color: #e5c2a2;
    color: #072A26;
    font-weight: bold;
}

#header button:hover, #next-page-bttn:hover{
    color: #e5c2a2;
    background-color: #103935;
    border: 2px solid #e5c2a2;
}

#garden-img{
    position: absolute;
    width: 75%;
    height: 75%;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px inset #e5c2a2;
}

#grandma-img{
    position: absolute;
    width: 20%;
    height: 50%;
    top: 40%;
    left: 18%;
}

#cloud-img, #text{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 36%;
}

#cloud p{
    position: relative;
    left: 52%;
    font-size: 170%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#text{
    width: 25%;
    height: 50%;
    top: 23%;
    left: 42%;
}

#next-page-bttn{
    position: absolute;
    top: 80%;
    left: 70%;
    width: 12%;
    height: 10%;
    border-radius: 48%;
    border: 1px solid #072A26;
    font-size: 125%;
    background-color: #e5c2a2;
    color: #072A26;
    font-weight: bold;
    cursor: pointer;
}

#soundIcon{
    font-size: 280%;
    margin-left: 115%;
    margin-top: 7%;
}

#soundIcon:hover{
    font-size: 300%;
    transform: scale(1.5);
    transition-duration: 0.3s;
}

#grandma-img {
    transition: transform 0.3s ease;
}
  
#grandma-img:hover {
    transform: translateY(-20px);
}
  
@keyframes bounceAnimation {
    0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
}
  