html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#window {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

#bg {
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#logo {
  position: absolute;
  width: 8%;
  margin-left: 3%;
  margin-top: 1%;
}

#header {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 1%;
  width: 100%;
  height: 30%;
}

#header button {
  margin: 2% 8% 2% 0;
  width: 12%;
  height: 30%;
  border-radius: 48%;
  border: 1px solid #072a26;
  font-size: 135%;
  background-color: #e5c2a2;
  color: #072a26;
  font-weight: bold;
}

#header button:hover {
  color: #e5c2a2;
  background-color: #103935;
  border: 2px solid #e5c2a2;
}

.main {
  display: flex;
  justify-content: space-evenly;
  top: 50%;
  left: 50%;
}

#container {
  position: absolute;
  top: 22%;
  left: 13%;
  width: 75%;
  height: 70%;
  background-color: #e5c2a2;
  border: 10px inset white;
}

.navigate-left {
  position: absolute;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  top: 55%;
  left: 5%;
}

.navigate-right {
  position: absolute;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
  top: 55%;
  right: 5%;
}

i {
  font-size: 300%;
  cursor: pointer;
  margin-right: 5%;
  margin-top: 2%;
  transition: transform 0.3s ease;
}

i:hover {
  color: white;
  transform: scale(1.5);
  transition-duration: 0.3s;
}

#title {
  position: relative;
  top: 5%;
  display: flex;
  justify-content: center;
}

.letter {
  font-size: 160%;
  margin: 0;
  transition: transform 0.3s ease;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}

.misterele-bunicii{
	font-size:100%;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  
	
}

.letter:hover {
  transform: scale(1.5);
  transition-duration: 0.3s;
  color: white;
}

.words {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
}

.imgs,
.cuvinte {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 5%;
}

.imgs {
  margin-left: 13%;
}

.image1,
.image2,
.image3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: -30px;
  display: block;
}
.image2, .image3{
	margin-top: 40px;
}

.word1,
.word2,
.word3 {
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin-top: -1%;
}

.colored-letter {
  color: red;
  font-weight: bold;
}

.image1:hover,
.image2:hover,
.image3:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
  cursor: pointer;
}

/* Add this to your existing CSS */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: #fefefe;
  margin: 2%;
  padding: 2%;
  border: 1px solid #888;
  width: 35%;
  height: 45%;
  font-size: 130%;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 25%;
  left: 30%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 300%;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}
