html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: url("../utils/background.jpeg") no-repeat center fixed;
  background-size: cover;
}

#window {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

#bg {
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#logo {
  position: absolute;
  width: 8%;
  margin-left: 3%;
  margin-top: 1%;
}

#header {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 1%;
  width: 100%;
  height: 30%;
}

#header button {
  margin: 2% 8% 2% 0;
  width: 12%;
  height: 30%;
  border-radius: 48%;
  border: 1px solid #072a26;
  font-size: 135%;
  background-color: #e5c2a2;
  color: #072a26;
  font-weight: bold;
}

#header button:hover {
  color: #e5c2a2;
  background-color: #103935;
  border: 2px solid #e5c2a2;
}

.main-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: -5%;
}

.anagram-table {
  margin-top: 5%;
  width: fit-content;
  height: fit-content;
  border: 10px inset white;
  background: #f4c8a0;
  box-shadow: 0px 4px 15px 20px rgba(0, 0, 0, 0.25);
}

.navigate {
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.anagram {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 31px;
  margin-bottom: 60px;
}

.word {
  color: #000;
  font-family: Inknut Antiqua;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.anagram-letters {
  display: flex;
  justify-content: space-evenly;
  gap: 32px;
  margin: 0 75px;
}

.letter {
  width: 39px;
  height: fit-content;
  flex-shrink: 0;
  color: #000;
  font-family: Inknut Antiqua;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 19px;
  background-color: white;
}

.verify-button {
  width: fit-content;
  height: fit-content;
  color: #f4c8a0;
  font-family: Inknut Antiqua;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: #072a26;
  margin: 34px 55px 29px 475px;
  padding: 0 22px;
}

.restart {
  margin-left: 2px;
}

.letter.draging {
  opacity: 0;
}

.correct {
  background: lightgreen;
}

.wrong {
  background: red;
}

.score {
  display: flex;
  justify-content: center;
  margin-top: 9%;
  color: white;
  font-size: 3rem;
}

.animation-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Make sure the container doesn't interfere with clicks */
}

.correct-animation {
  /* Add styles for your animation element (like or smiley face) */
  width: 400px;
  height: 400px;
  background-size: contain;
  transition: transform 1s ease-in-out; /* Adjust the animation duration */
  background: url("../utils/smiley-face.png") no-repeat center center;
}

.wrong-animation {
  /* Add styles for your animation element (like or smiley face) */
  width: 400px;
  height: 400px;
  background-size: contain;
  transition: transform 1s ease-in-out; /* Adjust the animation duration */
  background: url("../utils/sad-face.png") no-repeat center center;
}

.correct-animation.play,
.wrong-animation.play {
  transform: scale(
    2
  ); /* Adjust the scale or other properties for the animation */
}

.soundIcon {
  font-size: 280%;
}

.soundIcon:hover {
  transform: scale(1.5);
  transition-duration: 0.3s;
}
